body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.6;
}
div {
    display: block;
    unicode-bidi: isolate;
}
*,
*:before
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.section__title {
    font-size: 52px;
    font-weight: 900;
    font-style: normal;
    line-height: 150%;
    text-align: center;
    color: #24292e
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
li {
    text-align:left;
    list-style: none;
    display: list-item;
    unicode-bidi: isolate;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
a {
    text-decoration: none;
}
