@font-face {
  font-family: ("Saira");
  src: url("../fonts/saira-extracondensed-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: ("Saira");
  src: url("../fonts/saira-extracondensed-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

