/* Шапка (header) */
.header {
    padding: 0 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#b4984a ;

}
.header__menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;

}
.menu__link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    transition: 0.3s all ease-out;
}
.menu__link:hover{
    text-decoration: underline;
}