@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
       }
       .header__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
       }
    }
    